.highwayList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    h2 {
        text-align: center;
        flex-grow: 0;
    }

    .noHighwaysMessage {
        font-size: var(--fontSizeL);
        flex-grow: 1;
        justify-content: center;
        display: flex;
        align-content: center;
        text-align: center;
        align-items: center;
    }

    .listContainer {
        flex-grow: 1;

        .listWrapper {
            display: flex;
            flex-direction: column;

            .tableItem {
                display: flex;
                flex-direction: row;
                color: var(--menuText1Normal);
                padding: 5rem;
                margin-left: -3rem;
                margin-right: -3rem;
                transition: .25s background-color;
                border-bottom-width: 2px;
                border-bottom-style: solid;
                border-bottom-color: var(--sectionBackgroundColor);
                border-top-width: 2px;
                border-top-style: solid;
                border-top-color: var(--sectionBackgroundColor);

                +.tableItem {
                    border-top-style: none;
                }

                &:hover {
                    background-color: var(--accentColorNormal);
                    color: var(--menuSelectedColor);
                }

                .data {
                    padding: 5rem;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;

                    .title {
                        flex-grow: 1;
                        font-size: var(--fontSizeM);
                    }

                    .subTitle {
                        font-size: var(--fontSizeXS);
                        color: var(--menuText2Normal);
                    }
                }
            }
        }
    }

    .bottomActions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 10rem;

        >* {
            flex-grow: 0;
        }
    }
}