.cityMapTopographic {
    display: flex;
    position: relative;
    width: 16000rem;
    height: 16000rem;
    background-size: cover;

    .waterLayer {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-size: cover;
        filter: brightness(50.3%) sepia(0.9) hue-rotate(148.5deg) contrast(2.3);
    }
    .cityArea {
        filter: brightness(0.8) contrast(1.2);
    }

    .cityName {
        font-size: 500rem;
        fill: white;
    }
}