.adrRulesContainer {
    position: absolute;
    top: 70rem;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 3rem solid;
    border-top-color: var(--menuBorderColor1);
    overflow: hidden;

    .rulesList {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 60%;
        background-color: var(--menuPanel1);
        border-right: 3rem solid;
        border-right-color: var(--menuBorderColor1);
        overflow: auto;

        >div {
            &.selectedItem {
                background-color: var(--menuBorderColor2);
                color: black;
            }

            button,
            div.buttonPlaceholder {
                width: 35rem;
                height: 35rem;
                padding: 0;

                .moveItemUp,
                .moveItemDown,
                .removeItem {
                    width: 100%;
                    height: 100%;
                    mask-size: 100%;
                    background-color: var(--normalTextColor);
                }

                .moveItemDown {
                    mask-image: url(coui://uil/Standard/ArrowUpThickStroke.svg);
                }

                .moveItemUp {
                    mask-image: url(coui://uil/Standard/ArrowDownThickStroke.svg);
                }

                .removeItem {
                    mask-image: url(coui://uil/Standard/XClose.svg);
                }
            }
        }
    }

    .ruleSetting {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 40%;
        right: 0;
        border-left: 3rem solid;
        border-left-color: var(--menuBorderColor1);
        background-color: var(--menuPanel1);
        overflow: auto;
    }
}